# Pycaches
__pycache__/
**/__pycache__/

# Virtual environments
.venv/
**/.venv/

# DBT artifacts
target/

dbt_project/dbt_packages/*
dbt_project/logs/*
dbt_functions/dbt_packages/*
dbt_functions/logs/*
